*{
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family: Helvetica, Arial, sans-serif;
}
p{
	margin: 1rem 0 1rem 0;
}
body{
	background-color:#FFF8E7;
	margin:0;
	padding:0;			
}


.Container div{
	width:50vw;	
}

.logo{
	position:fixed;
	left:100px;
	top:30px;
}

nav{
	position:fixed;
	right:200px;
	top:95px;
	font-weight:50;
	font-size:1.4rem;
	
}

nav ul{
	list-style-type:none;
	display:flex;
	
}

nav a{
	padding:15px;
	
}

nav li a{
	color:#FF424D;
	text-decoration:none;
}

nav li a:hover{
	text-decoration:underline;
	color:#FF424D;
}

.Container{
	display:flex;
	flex-direction: row;
	background: #FFF8E7;
	width: 250vw;
	height:100vh;
}
		


.Case-studies:hover,.About:hover,.Labs:hover,.Blog:hover{
	overflow-y:scroll;
}


 
.Home-page{
	background-color:#FFF8E7;
	padding-top:150px;
}

.Case-studies{
	background:#FFF8E7;			
}

.Heading:hover{
	text-decoration: underline;
	cursor: pointer;
}
.About{
	background-color: #121E23;
	color:#FFF8E7;
}	

.about-heading{
	margin-bottom: 1.09215rem;
	font-size: 2.4rem;
	width:490px;
font-weight: 700;
line-height: 1.2135;

	
}

.about-label{
	width: 40vw;
	font-family:sans-serif;
	font-weight:700;
	font-size:1rem;
	line-height:1;
	letter-spacing:0.02em;
	text-transform:lowercase;
	font-variant: small-caps;
	margin-bottom:2rem;
	text-align:center;
	text-shadow: #121E23 -1px 0,#121E23 -2px 0,
	#121E23 -3px 0,#121E23 -4px 0,
	#121E23 -5px 0,#121E23 -6px 0,
	#121E23 -7px 0,#121E23 1px 0,
	#121E23 2px 0,#121E23 3px 0,#121E23 4px 0,
	#121E23 5px 0,#121E23 6px 0,#121E23 7px 0;
	background-image: linear-gradient(#FFF8E7, #FFF8E7);
	background-position: 0% 50%;	
	background-repeat: repeat-x;
	background-size: 1px 1px;
}	
 .About .About-contain{
	width: 50vw;
}

.About .About-contain p{
	width: 40vw;
}
.about-heading{
	width: 40vw;
}
.About-contain section{
	padding-bottom: 10vw;
}

.Services h5,.Our-approch h5{
	margin-top: 2.9124rem;
	font-weight: 700;
line-height: 1.618;
text-transform: uppercase;
font-size: 1rem;
letter-spacing: 0.04em;
}

.About-contain a{
	display:inline-block;
	padding:0.75em 1em;
	font-size:1rem;
	line-height:1;
	border:1px solid;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:0.04em;
	margin-bottom:0.35rem;
	margin-right:1rem;
	color:inherit;
	text-decoration:none;
}
.About-contain-para{
	font-family: "GraebenbachMono Web", "Monaco", "Courier New", Courier, monospace;
width: 369.2px;

letter-spacing: -0.144px;
line-height: 23.3px;
margin-bottom: 17.4744px
}
.services h2{
	margin-top: 4.3686rem;
margin-bottom: 1.09215rem;
}

.client-logo{
	display: flex;
	flex-direction: column;
}
.client-logo img{
	width: 40vw;
}

.services{
	width: 40vw;
}
.services{
    width: 40vw;
}

.social{
		text-align:center;
		width: 40vw;

}

.Card h2{
	font-weight: 700;
line-height: 1.618;
text-transform: uppercase;
font-size: 1rem;
letter-spacing: 0.04em;
}

.Card p{
	display: block;
	color: #FF424D;
	text-align: center;
	margin-top: 0;
	font-size: 0.75rem;
}

.OurTeam{
			box-sizing: border-box;
			display: flex;
			flex-direction:column;
		}
		.TeamMembers{
			max-width: 45vw;
			display: flex;
			flex-direction:row;
		}
		.TeamMembers .Card{
			width: 14vw;
			height: 220px;
			text-align: center;

		}
		.Card img{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			justify-self: center;
		}
		.TeamMembers .Card p{
			width: 13vw;
		}

.Labs{
	background: #2ddb87;
	color: #FFF8E7;
		
}		

.Lab-label{
	font-size:3.5rem;
	font-weight:600;
	line-height:1.3;
	letter-spacing:-0.06em;
	vertical-align:baseline;
}

.Lab-label:hover{
	text-decoration: underline;
	cursor: pointer;
}

.Lab-heading{
	font-size:2.4rem;
	letter-spacing: -0.05em;
	line-height:1.2135;
	padding-bottom:20px;
	font-variant:normal;
	word-break:break-word;
}

.About-contain{
	font-variant:normal;
	text-overflow: ellipsis;
}

.Blog{
	background:#FFF8E7;
	color:#2ddb87;
}

.Heading{
	color:#FF424D;
	font-weight:600;
	font-size:3.2rem;
}
.Headings,.Lab-content,.Blog-items,.About-contain{
	padding:200px 0 0 90px;
}
h3{
	font-family:Palatino, Georgia, serif;
	font-weight:700;
	font-size:2.4rem;
	letter-spacing:-0.02em;
	line-height:1.2135;
	margin-bottom:1rem;
	position:relative;
}	

.preview{
	font-family:Palatino, Georgia, serif;
	font-weight:400;
	max-width:400;
	margin-left:2rem;
	font-size:1rem;
	line-height:1.618;
	letter-spacing:normal;
}	

.meta{
	font-weight:400;
	max-width:20rem;
	margin-left:2rem;
	margin-top:0.5rem;
	font-size:0.7rem;
	color:#b3aea2;
	opacity:0;
	
}
li.blogitems-item{
	padding:0.5rem 0 5rem;
}

li.blogitems-item:hover,.meta{
	color:#b3aea2;
	cursor: pointer;

}